.link {
    text-decoration: none;

    color: inherit;
}

.action-button {
    cursor: pointer;

    border: none;
    background: transparent;
}

.close-sign {
    padding: 5px;

    color: #bf4a50;

    font-size: 2rem;
}

.clearfix::after {
    display: table;
    clear: both;

    content: "";
}